.chatMessagesContainer {
  flex: 1 1 auto;
  align-items: start;
  overflow-y: auto;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  padding-inline: 0.5rem;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  max-width: min(500px, 70%);
}

.message p {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.message span {
  font-size: 0.8rem;
  margin: 0.25rem;
  color: gray;
}

.userMessage span {
  align-self: flex-end;
}

.userMessage {
  align-self: flex-end;
}

.userMessage p {
  background-color: aliceblue;
}

.botMessage {
  align-self: flex-start;
}

.botMessage p {
  background-color: #f0f0f0;
}
